/* Variables */
:root {
 --brand-font-color:#533738;
 --brand-color: #efe6e4;
 --basic-white:#ffffff;
 --brown: #8D7370;
 --light-brown: #E2C4BA;
 --pink: #CC8B86 ;/* arrows, buttons*/

 --brand-font:"Montserrat","Arial", sans-serif;
}

body {
    font-family: "Montserrat","Arial", sans-serif;
    width: 100%;
    background-image: url("../img/header-bg.jpg");
    background-repeat: no-repeat;
    background-position: center top;
}

a {
    text-decoration: none;
    color: var(--brand-font-color);
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.main-header {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--brand-font-color);
    padding: 36px 0 0 0;
    display: flex;
}

.logo {
    margin-right: 90px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: var(--brand-font-color);
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navigation-list li {
    margin-right: 29px;
}

.tel {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.intro_inner {
    padding-top: 90px;
    padding-left: 83px;
    max-width: 480px;
    font-style: normal;
    font-weight: normal;
    color: var(--brand-font-color);
}

.intro_title {
    font-size: 50px;
    line-height: 62px;
    margin: 0;
    margin-bottom: 22px;
}

.intro_content {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 24px;
}

.btn {
    width: 310px;
    height: 74px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    background-color: var(--pink);
    color: var(--brand-font-color);
    border: none;
}

.about {
    font-style: normal;
    font-weight: normal;
    color: var(--brand-font-color);
}

.about_title {
  font-size: 40px;
    line-height: 50px;  
    text-transform: uppercase;
}

.about_text {
    font-size: 18px;
    line-height: 30px;
}

.advantage {
    background-color: var(--brown);
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    text-transform: uppercase;
    color: var(--basic-white);
}

.main-footer {
    min-height: 104px;
    background-color: var(--brand-color);
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    color: var(--brand-font-color);
    display: flex;
}
